* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #131313;
	font-family: "Roboto", sans-serif;
	padding-top: 130px;
}

::-webkit-scrollbar {
	width: 10px;
	background-color: #232323;
}

::-webkit-scrollbar-thumb {
	background-color: #1877f2;
}

::selection {
	background-color: #1877f2;
}

.container {
	display: block;
	position: relative;
	width: 600px;
	padding-left: 15px;
	padding-right: 15px;
	margin: auto;
}

@media (max-width: 650px) {
	body {
		padding-top: 150px;
	}

	.container {
		width: 100%;
	}
}
